__pycache__
.venv

# csv files
calendar.csv
email_table.csv

# xlsx files
~$email_table.xlsx
email_table.xlsx

# auth/config
credentials.json
emails.json
emails_1.json
parameters.json
sa-file.json

#random
test.py
development/
EMO'S.txt
SCOOT INN.txt
