__pycache__
.venv

# auth/config
credentials.json
emails.json
emails_1.json
parameters.json
sa-file.json

# random
development/
csv_files/
xlsx_files/
txt_outputs/

# deprecated 
deprecated