__pycache__
.venv

# xlsx files
~$email_table.xlsx
email_table.xlsx

# auth/config
credentials.json
emails.json
emails_1.json
parameters.json
sa-file.json

# random
test.py
development/
csv_files/
xlsx_files/
txt_outputs/

# deprecated 
old_calendar_generator.py.bkp