# Needed for quickstart.py
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

# Needed for calendar_generator.py
bs4
requests
openpyxl

# Needed for cal_emailer_google.py
tabulate
httplib2
oauth2client
apiclient
google-api-python-client

# Needed for cal_emailer_o365.py
PyAutoGUI
requests
pyperclip